.login {
    background-color: #FFFFFF;
    width: toRem(600);
    height: toRem(893);
    border-radius: toRem(20);
    box-shadow: toRem(0)toRem(0)toRem(4) rgba(0, 0, 0, 0.1);
    overflow: hidden;

    h1 {
        background-color: #1864AB;
        height: toRem(150);
        font-size: toRem(40);
        font-weight: 700;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        justify-content: center;
        margin-bottom: toRem(115);
    }

    form {
        padding: toRem(0) toRem(50);
        display: flex;
        flex-direction: column;
        gap: toRem(20);
        margin-bottom: toRem(105);

        input,
        button {
            border-radius: 100px;
            border: unset;
            filter: drop-shadowtoRem(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        input {
            height: toRem(80);
            background-color: #DEE2E6;
            padding-left: toRem(44);
            font-size: toRem(22);
            line-height: toRem(22);

            &::placeholder {
                color: rgba(0, 0, 0, 0.75);
                font-weight: 700;
            }
        }

        p {
            text-align: right;

            span {
                font-weight: 700;
                font-size: toRem(20);
                line-height: toRem(27);
                color: #B0AED0;
            }

            a {
                font-weight: 700;
                font-size: toRem(20);
                line-height: toRem(27);
                text-decoration-line: underline;
                color: #3F7CD5;
                text-decoration: none;
                cursor: pointer;
            }
        }

        button {
            height: toRem(70);
            background-color: #1864AB;
            font-weight: 700;
            font-size: toRem(24);
            color: white;
            cursor: pointer;
        }

    }

    &>p {
        text-align: center;

        span,
        a {
            font-weight: 700;
            font-size: toRem(20);
            line-height: toRem(27);
        }

        span {
            display: block;
            color: #B0AED0;
            margin-bottom: toRem(8);
        }

        a {
            color: #3F7CD5;
            text-decoration-line: underline;
        }
    }

}