.tit-h1{
  padding-left: toRem(60);
  padding-top: toRem(85);
  padding-bottom: toRem(70);

}

.dados{
  margin-left: toRem(63);
  padding-right: toRem(220);
  font-weight: bold;
}

.inp{
  background-color: #DEE2E6;
  border: none;
  padding-left: toRem(33);
  padding-top: toRem(15);
  width: 100%;
  padding-bottom: toRem(15);
  border-radius: 20px;
  margin-bottom: toRem(25);
  
}

.save{
  border: none;
  background-color: #1864AB;
  color: white;
  font-weight: bold;
  align-self: flex-end;
  margin-right: 165px;
  width: toRem(300);
  padding-top: toRem(15);
  padding-bottom: toRem(15);
  border-radius: 20px;
  margin-top: toRem(100);
}