@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import "./functions.scss";
@import "./login.scss";
@import "./diretor.scss";
@import "./professor.scss";
@import "./list-alunos.scss";
@import "./editar-dadosP.scss";

*{
    margin: 0px;
    padding: 0px;
    outline: none;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 75%;
}

#app{
    background-color: #EDEDED;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}